<head>
	<link href=" https://cdnjs.com/libraries/bootstrap/4.6.2" rel="stylesheet" id="bootstrap-css">
	<script src=" https://cdnjs.com/libraries/bootstrap/4.6.2"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<link rel="stylesheet" href="style.css">
	<link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Circle-icons-clipboard.svg/1200px-Circle-icons-clipboard.svg.png">
	</head>

	<body>
	<div class="login-reg-panel" data="{{.regLoad}}">

			<div class="white-panel">
				<div class="login-show">
					<h2>TO-DO APP</h2>
					<form method="post" action="/logIn" id="loginForm">
					<input type="text" placeholder="Username" name="username" value="{{.usernameInput}}" id="usernameId">
					<input type="password" placeholder="Password" name="password" value="{{.passwordInput}}" id="passwordId">
					<input type="button" onclick="logInF()" value="Login" data-userExists="{{.userExists}}" id="regSubmit"> 
					<div class="register-info-box">
						<label id="label-login" for="log-login-show">Don't have an account ?</label>
						<input type="radio" name="active-log-panel" id="log-login-show">
					</div>
					</form>
		
				</div>

				<div class="register-show">
					<h2>TO-DO APP</h2>
					<form  method="post" action="/user" id="regForm">
					<input type="text" placeholder="Username" name="username" value="{{.usernameInput}}" id="RegUsernameId">
					<input type="password" placeholder="Password" name="password" value="{{.passwordInput}}" id="RegPasswordId">
					<input type="button" onclick="regF()" value="Register" id="registerSubmit" data="{{.userExists}}">
					<div class="login-info-box">
						<label id="label-register" for="log-reg-show">Already have an account ?</label>
						<input type="radio" name="active-log-panel" id="log-reg-show">
					</div>
					</form>
				</div>

				<div id="account-created">Account Created!</div>
				<div class="error-message"  id="username-exists">Username already exists!</div>
				<div class="error-message" id="wrong-password" data="{{.LogInType}}">Incorrect password!</div>
				<div class="error-message" id="new-account" data="{{.LogInType}}">Username does not exist!</div>
				<div class="error-message" id="shortInput">Username/Password length must be between 3-30 characters!</div>
				
			</div>
		</div>
		<script src="login.js"></script>
	</body>
	
	